<!--
Contributed by : 
IITBOMBAYX
Shreya Shambhawi Singh
Chandrani Kar 

*Which is used to add Bookmark HTML element in the lectureView.html page
-->


<div id="content" >
	<button id="{{$parent.item.name}}"   type="button" aria-pressed="false" data="{{button.id}}" ng-click="bookmarkBtnClick()" class="btn"><span class="glyphicon glyphicon-bookmark" ng-show="!bookmarked" style="color:black">Bookmark</span> <span class="glyphicon glyphicon-bookmark" ng-show="bookmarked" style="color:blue"> Bookmarked</span> 
	</button>

</div>
